<!--<html/about.html>-->
{% extends 'html/base.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block content %}
{% if history %}
<!--restaurant history-->
<div class="card" style=" max-width: 95%; background-color: transparent; border-color: #707070;">
  <div class="card-header" style="border-color: #707070; color: #ffffff;">
    <h4>{{ history.title }}</h4>
  </div>
  <img src="{{ history.image.url }}" class="card-img-top" alt="Антон Самсонов - основатель ресторана">
  <div class="card-body" style="color: #a3a3a3" align="left">
    <p class="card-text">{{ history.text }}</p>
    {% if user.is_authenticated and user.is_staff or user.is_superuser %}
    <a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
      Изменить историю
    </a>
    {% endif %}
  </div>
</div>
{% else %}
{% if user.is_authenticated and user.is_staff or user.is_superuser %}
<p>
<a href="{% url 'restaurant:history_create' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
  </svg>
  Добавить историю ресторана
</a>
</p>
{% endif %}
{% endif %}

{% if mission %}
<!--restaurant mission-->
<div class="card" style=" max-width: 95%; background-color: transparent; border-color: #707070; margin-top:15px;">
  <div class="card-header" style="border-color: #707070; color: #ffffff;">
    <h4>{{ mission.title }}</h4>
  </div>
  <div class="card-body" style="color: #a3a3a3" align="left">
    <p class="card-text">{{ mission.text }}</p>
    {% if user.is_authenticated and user.is_staff or user.is_superuser %}
    <a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
      Изменить миссию
    </a>
    {% endif %}
  </div>
</div>
{% else %}
{% if user.is_authenticated and user.is_staff or user.is_superuser %}
<p>
<a href="{% url 'restaurant:mission_create' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
  </svg>
  Добавить миссию ресторана
</a>
</p>
{% endif %}
{% endif %}

{% if chief %}
<!--chief card-->
<div class="card mb-3" style="max-width: 95%; max-height: 400px; margin-top: 15px">
  <div class="row g-0">
    <div class="col-lg-3">
      <img src="{{ chief.photo.url }}" style="max-height:400px;" class="img-fluid rounded-start" alt="{{ chief.name }}">
    </div>
    <div class="col-lg-9">
      <div class="card-body">
        <h4 class="card-title">Шеф {{ chief.name }}</h4>
        <p class="card-text" align="left">{{ chief.description }}</p>
        {% if user.is_authenticated and user.is_staff or user.is_superuser %}
        <p><a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          Изменить данные шефа
        </a></p>
        {% endif %}
        {% if chief.vk %}
        <small class="text-body-secondary">
          <a href="{{ chief.vk }}" target="_blank" class="btn btn-outline-secondary">
            <img src="/media/img/vk_logo_blue.svg" alt="vk logo" height="25" class="svg-image">
            {{ chief.vk }}</a>
        </small>
        {% endif %}
        {% if chief.tg %}
        <small class="text-body-secondary">
          <a href="{{ chief.tg }}" target="_blank" class="btn btn-outline-secondary">
            <img src="/media/img/tg_logo.svg" alt="telegram logo" height="25" class="svg-image">
            {{ chief.tg }}</a>
        </small>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% else %}
{% if user.is_authenticated and user.is_staff or user.is_superuser %}
<p><a href="{% url 'restaurant:chief_create' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
  </svg>
  Добавить информацию о шефе
</a></p>
{% endif %}
{% endif %}

{% if sous_chef %}
<!--sous-chef card-->
<div class="card mb-3" style="max-width: 95%; max-height: 400px;">
  <div class="row g-0">
    <div class="col-lg-9">
      <div class="card-body">
        <h4 class="card-title">Су-шеф {{ sous_chef.name }}</h4>
        <p class="card-text" align="left">{{ sous_chef.description }}</p>
        {% if user.is_authenticated and user.is_staff or user.is_superuser %}
        <p><a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          Изменить данные су-шефа
        </a></p>
        {% endif %}
        {% if sous_chef.vk %}
        <small class="text-body-secondary">
          <a href="{{ chief.vk }}" target="_blank" class="btn btn-outline-secondary">
            <img src="/media/img/vk_logo_blue.svg" alt="vk logo изображения" height="25" class="svg-image">
            {{ sous_chef.vk }}</a>
        </small>
        {% endif %}
        {% if sous_chef.tg %}
        <small class="text-body-secondary">
          <a href="{{ chief.tg }}" target="_blank" class="btn btn-outline-secondary">
            <img src="/media/img/tg_logo.svg" alt="telegram logo" height="25" class="svg-image">
            {{ sous_chef.tg }}</a>
        </small>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-3">
      <img src="{{ sous_chef.photo.url }}" style="max-height:400px;" class="img-fluid rounded-end" alt="{{ sous_chef.name }}">
    </div>
  </div>
</div>
{% else %}
{% if user.is_authenticated and user.is_staff or user.is_superuser %}
<p><a href="{% url 'restaurant:sous_chef_create' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
  </svg>
  Добавить информацию о су-шефе
</a></p>
{% endif %}
{% endif %}

{% if team %}
<div class="card mb-3" style="max-width: 95%;">
  {% if team.photo %}
  <img src="{{ team.photo.url }}" style="max-height:400px;" class="card-img-top" alt="Наша команда">
  {% endif %}
  <div class="card-body">
    <h4 class="card-title">Наши повара</h4>
    <p class="card-text">
      {{ team.description }}
    </p>
    {% if user.is_authenticated and user.is_staff or user.is_superuser %}
    <p><a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
      Изменить информацию о команде
    </a></p>
    {% endif %}
  </div>
</div>
{% else %}
{% if user.is_authenticated and user.is_staff or user.is_superuser %}
<p><a href="{% url 'restaurant:team_create' %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
  </svg>
  Добавить информацию о команде
</a></p>
{% endif %}
{% endif %}
{% endblock %}