<!--html/base.html-->
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Менеджер рассылок{% endblock %}</title>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body style="background-color: #000; margin: 0 0 0 0">
<div align="center">
  <div style="width: 50vw;">
    <div class="row align-items-start">
      <div class="col">
        <ul class="nav nav-underline">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'restaurant:home_page' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'restaurant:about_page' %}">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'restaurant:reservation_page' %}">Бронирование столов</a>
          </li>
        </ul>
      </div>
      {% if user.is_authenticated %}
      <div class="col" align="right">
        <a href="{% url 'users:profile' user.pk %}" class="btn btn btn-outline-light">Профиль</a>
      </div>
      {% else %}
      <div class="col" align="right">
        <a href="{% url 'users:login' %}" class="btn btn btn-outline-light">Войти</a>
      </div>
      <div class="col" align="right">
        <a href="{% url 'users:register' %}" class="btn btn btn-outline-light">Регистрация</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="container" style="width: 50vw; background-color: #1a1d20; color: #fff">
    {% block content %}
    Content
    {% endblock %}
  </div>
</div>
</body>
</html>