<!--<html/index.html>-->
{% extends 'html/base.html' %}
{% load static %}
{% block title %}Редактирование описания{% endblock %}
{% block content %}
<a href="{% url 'restaurant:carousel_create' %}">Управление каруселью</a>
<br>
<a href="{% url 'restaurant:description_create' %}">Управление описанием</a>
<br>
<a href="{% url 'restaurant:contacts_create' %}">Управление контактами</a>
<br>
<a href="{% url 'restaurant:team_create' %}">Управление командой</a>
<br>
<a href="{% url 'restaurant:history_create' %}">Управление историей</a>
<br>
<a href="{% url 'restaurant:mission_create' %}">Управление миссией</a>
<br>
<a href="{% url 'restaurant:service_create' %}">Управление услугами</a>
{% endblock %}