{% extends 'html/base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}

{% if service.image %}
<img src="{{ service.image.url }}" alt="{{ service.title }}" style="max-width: 350px;">
{% else %}
Нет изображения
{% endif %}
<hr>
<div class="card-body">
    <h5 class="card-title">{{ service.title }}</h5>
    <p class="card-text">{{ service.description }}</p>
    <p>Цена: {{ service.price }}</p>
    <p>Статус: {% if service.is_active %}Услуга активна{% else %}Услуга не активна{% endif %}</p>
</div>
<div class="alert alert-danger" role="alert">
  Вы действительно хотите удалить эту услугу?
    <br>
    <form method="post">
        {% csrf_token%}
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="submit">Удалить</button>
            <a href="{% url 'restaurant:service_detail' service.pk%}" class="btn btn-outline-secondary" type="button">Отмена</a>
        </div>
    </form>

</div>
{% endblock %}
